{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'coletanea/css/coletanea.css' %}">
{% endblock %}

{% block 'title' %}Minha Cine Coletânea{% endblock %}

{% block 'body' %}


<div class="sidebar">


    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm">
            <form action="" method="GET"> {% csrf_token %}
                <p class="titulo-cartao cor_vermelha">Tipo:</p>
                <select class="form-control" name="tipo">
                    <option value=''></option>
                    <option value='F'>Filme</option>
                    <option value='S'>Série</option>
               </select>
            </div>
    
    
            <div class="col-sm">
                <p class="titulo-cartao cor_vermelha">Estrelas:</p>
                <select class="form-control" name="rating">
                    <option value='0'></option>
                    <option value='1'>★</option>
                    <option value='2'>★★</option>
                    <option value='3'>★★★</option>
                    <option value='4'>★★★★</option>
                    <option value='5'>★★★★★</option>
               </select>
            </div>
    
            <div class="col-sm">
                <p class="titulo-cartao cor_vermelha">Categoria</p>
                <select class="form-control" name="categoria">
                    <option value=''></option>
                    <option value='AC'>Ação</option>
                     <option value='AV'>Aventura</option>
                     <option value='CM'>Comédia</option>
                     <option value='CMT'>Comédia de Terror</option>
                     <option value='CMA'>Comédia de Ação</option>
                     <option value='CMD'>Comédia Dramádica</option>
                     <option value='CMR'>Comédia Romântica</option>
                     <option value='DA'>Dança</option>
                     <option value='DOC'>Documentário</option>
                     <option value='DOCF'>Docuficção</option>
                     <option value='DR'>Drama</option>
                     <option value='FA'>Fantasia</option>
                     <option value='FAC'>Fantasia Científica</option>
                     <option value='FC'>Ficção Científica</option>
                     <option value='FG'>Filmes de Guerra</option>
                     <option value='MI'>Mistério</option>
                     <option value='MU'>Musical</option>
                     <option value='FP'>Filme Policial</option>
                     <option value='RO'>Romance</option>
                     <option value='TE'>Terror</option>
                     <option value='TH'>Thriller</option>
                </select>
                <br>
                <div class="float-right">
                    <input type="submit" class="btn_filtrar" value="FILTRAR">
                    <a class="cor_vermelha" href="{% url 'minha_coletanea' %}">Limpar filtro</a>
                </div>

            </form>
            </div>
    
            
        </div>
    </div>

    <div class="container-fluid">
        
        {% for item in item %}

            <div type="button" data-toggle="modal" data-target="#modal-{{item.id}}">
                <div class="cartao">
                    <div class="cartao-imagem">
                        <img class="imagem_cartao" src="{{item.capa.url}}">
                    </div>
                    <div class="rating">★★★★★</div>
                    <div class="titulo-cartao">
                        <p class="cor_vermelha">{{item.titulo}}</p>
                    </div>
                </div>
            </div>
                            
                            
            <!-- MODAL | MODAL | MODAL -->
            <div class="modal fade bd-example-modal-lg" id="modal-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div style="background-color: #B42B2B;" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title job-modal-titulo cor_branca" id="exampleModalLabel">{{item.titulo}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body cor_branca">
                            <div class="row">
                                <div class="col-md-4">
                                        <img src="{{item.capa.url}}" width="100%"> 
                                </div>
                                <div class="col-md-8 .ml-auto">
                                    <div class="row">
                                        <h6 class="titulo-body">Tipo: {{item.get_tipo_display}}</h6>
                                    </div>
                                    <div class="row">
                                        <h6 class="titulo-body">Categoria: {{item.get_categoria_display}}</h6>
                                    </div>
                                    <div class="row">
                                        <h6 class="titulo-body">Ano: {{item.ano}}</h6>
                                    </div>
                                    <div class="row">
                                        {% if item.tipo == 'S' %}
                                            <h6 class="titulo-body">Temporadas: {{item.temporadas}}</h6>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if item.tipo == 'F' %}
                                            <h6 class="titulo-body">Duração: {{item.duracao}}</h6>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <h6 class="titulo-body">Avaliação: {{item.rating}}</h6>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <br>
                                    <h6 class="titulo-body">Resenha:</h6>
                                    <p>{{item.resenha}}</p>
                                </div>
                                
                                <div class="container-fluid">
                                    <button class="btn_editar_item">Editar item</button>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- FIM MODAL | FIM MODAL | FIM MODAL -->
            

        {% endfor %}

        <a href="">
            <div class="cartao-novo-item">
                <div class="titulo">
                    <img class="imagem_cartao" src="{% static '/coletanea/img/novo-item2.jpg' %}">
                </div>
                <div class="titulo-cartao">
                    <p class="cor_vermelha">Clique aqui para adicionar um novo item.</p>
                </div>
            </div>
        </a>
                   
    </div>

</div>


    


   

{% endblock %}