{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'coletanea/css/coletanea.css' %}">
{% endblock %}

{% block 'title' %}Cadastre-se | Cine Coletânea{% endblock %}

{% block 'body' %}
<div class="sidebar">
    <div class="container">
        <div class="conteiner-fluid">
            <div class="row">
                <div class="col titulo">
                    <h1>Minha Coletânea</h1>
                </div>
                <div class="col">
                    <button>Filtrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <a href="#">
            <div class="cartao">
                <div class="cartao-imagem">
                    <img class="imagem_cartao" src="{% static '/coletanea/img/twd.jpg' %}">
                </div>
                <div class="rating">★★★★★</div>
                <div class="titulo-cartao">
                    <p class="cor_vermelha">The Walking Dead</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="cartao">
                <div class="cartao-imagem">
                    <img class="imagem_cartao" src="{% static '/coletanea/img/matrix.jpg' %}">
                </div>
                <div class="rating">★★</div>
                <div class="titulo-cartao">
                    <p class="cor_vermelha">Matrix I</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="cartao">
                <div class="cartao-imagem">
                    <img class="imagem_cartao" src="{% static '/coletanea/img/bacurau.jpeg' %}">
                </div>
                <div class="rating">★★★★</div>
                <div class="titulo-cartao">
                    <p class="cor_vermelha">Bacurau</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="cartao-novo-item">
                <div class="titulo">
                    <img class="imagem_cartao" src="{% static '/coletanea/img/novo-item2.jpg' %}">
                </div>
                <div class="titulo-cartao">
                    <p class="cor_vermelha">Clique aqui para adicionar um novo item.</p>
                </div>
            </div>
        </a>


    </div>

</div>

    


   

{% endblock %}